body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    background-image: url('img/0001-14578410453_20211215_000556_0000.png');
    height: 300px;
}
.himg{
    height: 25px;
    width: 25px;
    margin-top: 30px;
    margin-right: 20px;
    transition:transform  0.5s;
}
.himg:hover{
    transform: translateY(-3px);
}
#pimg{
    height: 200px;
    margin-top: -110px;
    border-radius: 50%;
    border: 5px solid white;
}
.links{
    margin-right: 20px;
    color: black;
}
#h1{
    text-align: center;
    font-size:xxx-large;
}
#footer{
    background:url('0001-14584902444_20211215_013428_0000.png');
    margin-top: 160px;
}
#footerh1{
    text-align: center;
}
.links:hover{
    color: #4070F4;
}
/* .change-content::after{
    content:'' ;
    animation: changetext 5s infinite linear;
    color: #01f4c3;
    font-size:xx-large;
}
@keyframes changetext{
    0%{content: " Frontend Web Developer";}
    50%{content: " C programmer";}
    100%{content: " Python programmer";}
} */
.change-content{
    color: #4070F4;
}